
:root {
    --containter-color: blue;
    --second-color: #fd8f44;
    --text-color: #fff;
    --bg-color: #172317;
}

a {
    text-decoration: none;
}

/* header */

.header{
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid #bcbcbc;
        background-image: none; 

}

.logo {
    font-size: 4rem;
    font-weight: 600;
    color: var(--bg-color);
    padding: 2px;
}

.logo span {
    color: var(--second-color);
     background-image: none; 
}
p { background-image: none; }

i{
    font-size : 3.2rem;
    color: #fd8f44;
    margin-top: 0.2cm;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh; 
    }
     
.container div {
        margin: 50px;
        padding: 10px;
         

    }
    .menu {
        border-right: 1px solid lightgray; 
        padding: 0; 
        margin: 10px;
        height: 90vh;
        width: 25%;
        position: relative; 
        overflow: hidden; 
        right:3%;
      }
 
   .box1 {
    /*background-color: red;*/ 
    width: 80%;
    height: 700px;
    position: relative; 

 
   }

   .board_list_wrap{
    width: 750px;
    position: absolute;
    left: 30%;
  }

  .board_view_wrap{
    width: 750px;
    position: absolute;
    left: 30%;
  }
 

   input{
    width: 45%;
    height: 8mm;
    margin-bottom: 10px; 
    background-image: none; 
    border-bottom: 1px solid lightgray; 
    border-color :lightgrey;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 20px;
   }

   button {
    width: 30%;
    height: 15mm;
    background-image: none; 
    border: none; 
    border-radius: 8px;
    font-size: 15px; 
    font-weight: bold;
    }


 
/* SHOP - 서브메뉴 */

.sub-menu ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;

}
.sub-menu{
    width: 0;
    height: 100%;
    overflow: hidden;
    transition-duration: 0.5s;
  
   
}

.top-menu{
  font-size: 40px;
  font-weight: bold;
  color: #fd8f44;
  left: 100% ;

}
.main-nav-left{
  transform: translateY(-20px);
}
.main-nav-left:hover > .sub-menu{
    
    height: 100%;
    width: 140px;

    overflow: hidden;
    transform: translateX(-100px); 
}
.sub-menu-list li {
    line-height: 3rem;
    font-weight: bold;
    font-size: 20px; 
    color: #fd8f44;
    transform: translateY(-40px);
}

.title {
  color:  #fd8f44;
}

/* open class가 있을 때-> 보이게 */
.sub-menu.open .sub-menu-list {
    display: block; 
}

.board_title strong {
  font-size:3rem;
}



/* list */
.board_list {
  width: 90%;
  transform: translate(-5%, -10%); 
  border-top: 2px solid #000;
 
}

.board_view {
  width: 100%;
  transform: translate(-5%, -10%); 
  border-top: 2px solid #000;

}

.board_list > div {
  border-bottom: 1px solid #ddd;
  font-size: 0;
  margin:0;
  
}

.board_list > div.top {
  border-bottom: 1px solid #ddd;
}
.board_list > div:last-child {
  border-bottom: 2px solid #000;
}

.board_list > div > div {
  display: inline-block;
  margin: 0;
  padding:  0;
  font-size: 1rem;
  text-align: center;
}

.board_list > div.top > div{
  font-weight: 600;
}

.board_list .num {
  width: 10%;
}
.board_list .title1 {
  width: 50%;
  text-align: left;
}

.board_list .top .title1 {
  text-align: center;
}

.board_list .writer {
  width: 10%;
}
.board_list .date {
  width: 20%;
}
.board_list .counter {
  width: 10%;
}


/*board_page */
.board_page{
  text-align: center;
  transform: translateY(-40px);
}

.board_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 100%;
  border: 1px solid #ddd;
  border-left: 0;
}


.board_page a.bt {
  padding-top: 10px;
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.board_page a.num {
  padding-top: 5px;
  font-size: 1.4rem;
}

.board_page a.num.on {
  border-color:#000;
  background:#000;
  color: #fff;
}

.board_page a:first-child{
  border-left: 1px solid #ddd;
}

/* button */
.bt_wrap{
  margin-top: 10px;
  text-align: center;
  font-size: 0;
  transform: translateY(-40px);
}
.bt_wrap a{
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding:10px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 1.4rem;
}

.bt_wrap a:first-child{
  margin-left:0;
}

.bt_wrap a.on {
  background-color: #000;
  color:#fff;
}


/* view.html */

.board_view .title1{
  padding: 20px 15px;
  border-bottom:1px dashed #ddd;
  font-size: 2rem;
}
.board_view .info{
  padding: 15px;
  border-bottom:1px solid #999;
}
.board_view .info dl {
  display: inline-block;
}
.board_view .info dl dt,
.board_view .info dl dd{
  display:inline-block;
}


/*반응형*/
@media (max-width: 1200px) {
  .menu {
    width: 26%; 
  }
  .menu ul {
    display: flex;
    flex-direction: column;
  }
  .menu li {
    padding: 10px 0; 
    font-size: 20px; 
  }
  .box1{
    width: fixed; 
    height: fixed;
  }

  .board_list_wrap{
    width: fixed;
    height: 80%;

  }
  .board_view_wrap{
    width: fixed;
    height: 80%;


  }
 
  
  input {
      width: 90%; 
      margin-bottom: 5px; 
    }
    
    button {
      width: 100%; 
      font-size: 16px; 
    }
  }
   


   @media (max-width: 768px) {
    .menu {
      width: 26%; 
    }
    .menu ul {
      display: flex;
      flex-direction: column;
    }
    .menu li {
      padding: 10px 0; 
      font-size: 20px; 
    }
    .box1{
      width: fixed; 
   }

    .board_list_wrap{
      position: fixed;

    }
    

    input {
        width: 80%; 
        margin-bottom: 5px; 
      }
      
      button {
        width: 100%; 
        font-size: 11px; 
      }
    }


  
  @media (max-width: 480px) {
    .menu,
  .box1,
  .board_list_wrap {
    position:0;
    
  }
  }