@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Poppins:wght@300&display=swap');

*{
font-family: 'Heebo', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
scroll-behavior: smmoth;
scroll-padding-top: 2rem;
box-sizing: border-box;
}

/* Variables */
:root {
    --containter-color: #1a1e21;
    --second-color:#fd8f44;
    --text-color:#172317;
    --bg-color:#fff;
}
::selection{
    color: vr(--bg-color);
    background: var(--second-color);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}
.container {
max-width: 1068px;
margin: auto;
width: 100%;
}

/* header*/
header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 200;
}

.nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 18px 0;;
}
.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
}
.logo span {
    color: var(--second-color);
}
.login{
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius:4px;
    background:var(--second-color);
    color:var(--bg-color);
}
.login:hover{
    background:hsl(24,98%,58%);
    transition: 0.3s;
}
/* Hone */
.home  {
    width:100%;
    min-height: 100px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items:center;
}

.search-form {
    text-align: center; 
    margin-top: 10px; 
  }
  
  .home text{
    
  }
