*{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #121213;
}

.game-container{
    height: 130vh; /* 선과 tile container사이 공간 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.title-container {
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3a3a3c;
}

.tile-container{
    width: 330px;
    margin-bottom: 30px;
}

.key-container{
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    margin: 4px;
}

.key-container button:nth-child(11){
margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width:68px;
}

.tile-container div{
    display:flex; /*flex처리 안하면 칸 위치가 정 위치로 가지않음*/
}


.tile-container .tile{
    width: 62px;
    height: 62px;
    border: 2px solid#3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}


.message-container {
    height: 30px;
}

.message-container p{
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}


.green-overlay{
    background-color: #538d4e;
    border: none;
}


.grey-overlay{
    background-color: #3a3a3c;
    border: none;
}

.yellow-overlay{
    background-color: #b59f3a;
    border: none;
}
