*{
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
    list-style: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}


.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
  }


.loginArea {
  width: 30%;
  height: 600px;
  background: white;
  border-radius: 50px;
  display: flex;
  justify-content: center; /* Horizontal, center */
  align-items: center; /* Vertical, center. */
  flex-direction: column; /* Arrange items in the login area box in order. */
}

.seneca {
    padding: 20px;
    display: flex;
   
}

.seneca li{
    padding: 0px 15px;
}
.seneca a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
    background: white;
    font-size: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
}

.login_id,
.login_pw {
    margin-top: 20px;
    width: 80%;
}

.login_id input,
.login_pw input {
    width: 80%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
}

.login_etc {
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.submit{
    margin-top: 50px;
    width: 80%;
}

.submit input{
    width:70%;
    height: 50px;
    margin-left: 70px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px; 
    cursor: pointer;
}
